img {
    width: 80%;
    height: 80%;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
}

li {
    width: 80%;
    margin-bottom: 5px;
}  

